/* src/App.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevents scrollbars from appearing */
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

h1 {
  color: #333;
}

.button-container {
  margin-top: 20px;
}

.color-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.color-button:hover {
  background-color: #ddd;
}
